 


.left { 
  list-style:none;
  margin:10px;
  float: left; 
}

.right { 
    list-style:none;
    margin:10px;
    float: right; 
  }



/* google icon */
div{

    display: flex;
    justify-content: center;
    align-items:center;
    height:200px;
}   



  * {
    box-sizing: border-box;
     
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: left; */
    width: 35%;
    background: #f1f1f1;
     
  }
   
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
   
  
  /* Clear floats *
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
   

