 


.left { 
  list-style:none;
  margin-left:5px;
  float: left; 
  margin-top: 16px;
}

.right { 
    list-style:none;
    margin:5px;
    float: right; 
  }



/* google icon */
div{

    display: flex;
    justify-content: center;
    align-items:center;
    height:200px;
}   



  * {
    box-sizing: border-box;
    font-family: arial,sans-serif;
    font-size: 14px;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: left; */
    width: 35%;
    background: #f1f1f1;
     
  }
   
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  
  .button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 450px;
  }
  
  /* Clear floats *
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
   

