 


.left { 
  list-style:none;
  margin-left:5px;
  float: left; 
  margin-top: 16px;
}

.right { 
    list-style:none;
    margin:5px;
    float: right; 
  }



/* google icon */
div{

    display: flex;
    justify-content: center;
    align-items:center;
    height:200px;
}   



  * {
    box-sizing: border-box;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: black;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: left; */
    width: 35%;
    background: ;
     
    border-radius: 25px;
  border: 2px solid; color:gray;
  padding: 20px;
  width: 600px;
  height: 35px; 

  }
   
  form {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height: 50px; */
     
  }
  
  .button1 {
  
    
    
    margin-left: 43%;  
    display: inline-block;
    justify-content: center;
    align-items: center; 
    position: static;
    margin-top: 14px;
     
  }
  
  .button2 {
    
 

     
    display: inline-block;
    justify-content: center;
    align-items: center;
    position:static;
    
  }


 

  .footerleft {
   list-style:none;
  margin-left:5px;
  float: left; 
  position:fixed;left:0;bottom:0;
  
  }

  .footerright { 
    list-style:none;
    margin:5px;
    float: right;
    position: fixed;right:0; bottom:0; 
  }

  
  }
  .footer-content {
    background: gray;
    opacity: 0.1;
    color: black;
  }